.wrapper {
	margin: 20rem auto 0;
	max-width: 650px;
	background: #f9f9f9;
}

.inner-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
	padding: 2rem 0 4rem;
	box-shadow: 3px 10px 34px -1px rgba(0,0,0,0.55);
}

.wrapper h1 {
	font-size: 3rem;
	line-height: 1.2;
  margin-bottom: 2rem;
  color: #0C0C0C;
}

.wrapper p {
	font-size: 1.9rem;
  margin-bottom: 2rem;
  color: #0C0C0C;
}

.todo-wrapper {
	list-style: none;
}

.list-item {
	font-size: 1.8rem;
	line-height: 1.2;
	margin-bottom: 1.5rem;
}

.list-item.line {
	text-decoration: line-through;
}
